@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Raleway:wght@400;500;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    width: 75%;
    margin: 0 auto;

    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

header #logo {
    font-size: 2.5rem;
    font-weight: 900;
}

header #menu {
    display: flex;
    gap: 2rem;
    /* border: 1px solid red; */
}

header #menu a {
    font-weight: 600;

    transition: all 0.3s ease;
}

header #menu a:hover {
    opacity: 0.7;
}

/* TABELA */

#main-tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid red; */
    position: relative;
}

#tabela {
    justify-self: center;
    border-radius: 0.8rem;
    background-color: white;
    width: 75%;
    height: 90%;
    padding: 2rem 5rem;
    text-align: center;
}

#tabela tbody tr td a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.25s;
    cursor: pointer;
}

#tabela tbody tr td a:hover {
    color: rgba(0, 0, 0, 0.5);
}

#tabela tbody tr td ion-icon {
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.25s;
}

#tabela tbody tr td ion-icon:hover {
    opacity: 0.5;
}

#main-detail {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    height: 86vh;
    font-family: 'Raleway', sans-serif;
}

#tabela-detail {
    background-color: white;
    width: 75%;
    height: 15%;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    text-align: center;
}


/* FORM */

#main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    font-family: 'Raleway', sans-serif;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    width: 45%;
    height: 80%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

#form h1{
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

input {
    height: 3rem;
    width: 60%;
    padding-left: 10px;

    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;

    transition: all 0.3s ease;
}

#msg {
    font-size: 0.9rem;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'Raleway', sans-serif;
    max-width: 60%;
    max-height: 7rem;
    min-width: 60%;
    min-height: 7rem;
    resize: none;

    transition: all 0.3s ease;
}


input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

input:hover, #msg:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

input:focus #msg:focus{
    background-color: rgba(0, 0, 0, 0.65);
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

/* POPUP EDITAR */

dialog {
    padding: 1rem 1.5rem;

    border: none;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 15rem;
    height: 45%;
    width: 25%;
    align-items: center;
    justify-content: space-between;

    font-family: 'Raleway', sans-serif;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

#popup {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#form-editar {
    width: 100%;
    height: 100%; 
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#form-editar input, #msg {
    min-width: 80%;
}

#head-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 80%;
}

#head-modal h1 {
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

#head-modal #close-modal {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    background-color: transparent;

    transition: all 0.3s;
}

#head-modal #close-modal a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    background-color: transparent;

    transition: all 0.3s;
}


#head-modal #close-modal:hover {
    opacity: 0.7;
}

#infos {
    width: 80%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid red; */
}

#infos input, #msg-editar {
    width: 100%;
}

#msg-editar {
    font-size: 0.9rem;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'Raleway', sans-serif;
    max-width: 80%;
    max-height: 7rem;
    min-width: 60%;
    min-height: 7rem;
    resize: none;

    transition: all 0.3s ease;
}

#button-editar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    /* margin-bottom: 2rem; */
}